// input{
//     // margin-left: 0px;
//      margin-right: 20px;
//     margin-bottom: 10px;
//     width: 70%;
// }
// select{
//     // margin-right: 20px;
//     // margin-bottom: 10px;
//     width: 175%;
// }
button{
    margin-left: 20px;
    margin-right: 20px;
   
}
.content {
    max-width: 1000px;
    margin: auto;
  }
//   .date{
//     // margin-left: 0px;
//      margin-right: 30px;
//     margin-bottom: 10px;
//     width: 78%;
// }