<app-nav></app-nav>






<div class="content"> 

    <form [formGroup]="gradForm" (ngSubmit)="onSubmit()" >
      
      <h3>Personal Details</h3>
      <div class="form-row">
        <div class="form-group col-md-4">
      <label for="firstName">
        First Name: * </label>      <span *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                        <span *ngIf="firstName.errors.required" style="color: red;"> Required.</span></span>
        <input id="firstName" type="text" formControlName="firstName" class="form-control" required >
      
      </div>
      <div class="form-group col-md-4">
      <label for="middleName">
        Middle Name: </label>
        <input id="middleName" type="text" formControlName="middleName" class="form-control" >
     
      </div>
      <div class="form-group col-md-4">
      <label for="lastName"> 
        Last Name: * </label>  <span *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" >
          <span *ngIf="lastName.errors.required" style="color: red;"> Required.</span></span>
        <input id="lastName" type="text" formControlName="lastName" required  class="form-control">
      </div>
    </div>
<br>
<div class="form-row">
  <div class="form-group col-md-4">
     <label for="email">
       Email: * </label>  <span *ngIf="email.invalid && (email.dirty || email.touched)" style="color: red;">
          Invalid</span> 
       <input type="email" formControlName="email" required class="form-control">
      
  </div>
  <div class="form-group col-md-4">
      <label>
        Contact: *  </label>   <span *ngIf="contact.invalid && (contact.dirty || contact.touched)" style="color: red;">
            Invalid</span>
        <input type="text" formControlName="contact" required class="form-control">
      
  </div>
  <div class="form-group col-md-4">
      <label for="gender"> 
        Gender: *</label> <span *ngIf="gender.invalid && (gender.dirty || gender.touched)">
                  <span *ngIf="gender.errors.required" style="color: red;"> Required.</span></span>
        <select id="gender" formControlName="gender" required class="form-control">
          <option value="Male"> Male</option>
          <option value="Female">Female</option>
        </select>
     
  </div>
</div>
<hr>
      <h3>Professional Details</h3>

      <div class="form-row">
        <div class="form-group col-md-4">
      <label for="degree">
        Degree:  </label>
        <select id="degree" formControlName="degree"  class="form-control" >
          <option value="B.Tech"> B.Tech</option>
          <option value="BE">BE</option>
          <option value="BSc">BSc</option>
          <option value="Other">Other</option>
          </select>
        </div>

        <div class="form-group col-md-4">
      <label>
        Branch:
      </label>
        <select  formControlName="branch"  class="form-control" >
          <option value="Computer Science"> Computer Science</option>
          <option value="Information Technology">Information Technology</option>
          <option value="Electronics">BSc</option>
          <option value="Electrical">Other</option>
          </select>
        </div>

      <div class="form-group col-md-4">
      <label>
        Institute:  </label>   
        <input type="text" formControlName="institute" class="form-control">
      
      </div>
      
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
      <label>
        Joining Date: *  </label>  <span *ngIf="joiningDate.invalid && (joiningDate.dirty || joiningDate.touched)">
                           <span *ngIf="joiningDate.errors.required" style="color: red;">Required.</span></span>
        <input type="date" formControlName="joiningDate" required class="form-control date" >
      </div>

      <div class="form-group col-md-4">
      <label>
        Joining Location: * </label>
        <span *ngIf="joiningLocation.invalid && (joiningLocation.dirty || joiningLocation.touched)">
          <span *ngIf="joiningLocation.errors.required" style="color: red;">Required.</span></span>
          <select formControlName="joiningLocation" required class="form-control"  >
            <option value="Mumbai"> Mumbai</option>
            <option value="Bangalore">Bangalore</option>
            <option value="Delhi">Delhi</option>
            <option value="Hyderabad">Hyderabad</option>
            </select>
     
    </div>

    <div class="form-group col-md-4">
      <label style="margin-left: 70px;" for="mult">
        Skills:  </label>
      <ng-multiselect-dropdown
      [placeholder]="'Choose the Skills'"
      formControlName='skills'
      [settings]="dropdownSettings"
      [data]="dropdownList"
      id="mult"
      >
      </ng-multiselect-dropdown>
  </div>
</div>
    <br>
    <br>

    <button class="btn btn-primary" routerLink="/candidates">BACK</button>
      <button  type="submit" class="btn btn-success" [disabled]="!gradForm.valid">Save</button>
    </form>
  </div>
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
    </ngx-spinner>


