// input{
//     // margin-left: 0px;
//      margin-right: 20px;
//     margin-bottom: 10px;
//     width: 70%;
// }
// select{
//     margin-right: 20px;
//     margin-bottom: 10px;
//     width: 100%;
// }
button{
    margin-left: 20px;
    margin-right: 20px;
   
}
.content {
    max-width: 1000px;
    margin: auto;

  }