<app-nav></app-nav>
<div class="content">
    <label class="col-sm-2 col-form-label">
Year: <select [(ngModel)]="year" class="form-control" style=" width: 150px">
    <option value="2020">2020</option>
    <option value="2019">2019</option>
</select>
</label>
<label  class="col-sm-2 col-form-label">
Type: <select [(ngModel)]="type" class="form-control" style=" width: 150px;">
    <option value="skill">Skill</option>
    <option value="location">Location</option>
</select>
</label>
<button class="btn btn-primary" (click)="getTrend()" >Show Trend</button>
<br>
<br>
<br>
<br>
<div *ngIf="result" >
    <div class="size">
        <canvas id="canvas">{{ chart }}</canvas>
    </div>

</div>
</div>