<app-nav></app-nav>
<div class="content">
<div>
  <button class="btn btn-primary" routerLink="/candidates">BACK</button>
</div>

 <div *ngIf="candidate"> 
<div>
 <li class="list-group-item">Id: {{candidate.id}} </li>
 <li class="list-group-item">First Name: {{candidate.firstName}}</li>
 <li class="list-group-item">Middle Name: {{candidate.middleName}}</li>
 <li class="list-group-item">Last Name: {{candidate.lastName}}</li>
 <li class="list-group-item">Contact: {{candidate.contact}}</li>
 <li class="list-group-item">Created By: {{candidate.createdBy}}</li>
 <li class="list-group-item">Created On: {{candidate.createdOn}}</li>
 <li class="list-group-item">Degree: {{candidate.degree}}</li>
 <li class="list-group-item">Email: {{candidate.email}}</li>
 <li class="list-group-item">Gender: {{candidate.gender}}</li>
 <li class="list-group-item">Institute: {{candidate.institute}}</li>
 <li class="list-group-item">Joining Date: {{candidate.joiningDate}}</li>
 <li class="list-group-item">Joining Location: {{candidate.joiningLocation}}</li>
 <li class="list-group-item">Skills: <span *ngFor="let skill of candidate.skills">{{skill.name}}    </span></li>
</div>
</div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
  <p style="color: white">Please Wait. </p>  
  </ngx-spinner> 
  