<div>
<app-nav></app-nav>
<i class="far fa-plus-square fa-3x" style="margin-left: 250px;" routerLink="/add-candidate" ></i>
<ag-grid-angular
    style="width: 1000px; height: 550px; margin-left: 15%;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [pagination]="true"
    [paginationPageSize]=10
    [suppressHorizontalScroll]="false"
    [alwaysShowVerticalScroll]="false"
    (rowClicked)='onRowClicked($event)'
    [frameworkComponents]="frameworkComponents"
    [context]="context"
    >
</ag-grid-angular>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
    </ngx-spinner>