<div class="bgd">
 <div class="center" >
<div class="card-block">
<img src="../../assets/images/google.png" (click)="signInWithGoogle()" alt="longin button">
</div>
</div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
</ngx-spinner>