   .bgd{
     background-image: url('../../../assets/images/ballpen-blur-close-up-computer-461077.jpg');
     width: 100%; 
     height: 830px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
   }
   
   .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }