i{
    margin-right: 3px;
  
}
a{
    :hover{
        color: rgb(10, 10, 148);
    }
}
#delete{
    :hover{
        color:rgba($color: #b60707, $alpha: 1.0);
    }
}
#edit{
    :hover{
        color:rgba($color: #07961f, $alpha: 1.0)
    }
}