<div class="icon-bar">
<a ><i class="fas fa-info-circle fa-2x" (click)="goToDetail()" ></i></a>
<a id="edit"><i class="fas fa-edit fa-2x" (click)= "goToEdit()" ></i></a>

<a id="delete"><i class="fas fa-trash fa-2x"   (click)="delete()" ></i></a>
</div>