

<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/home">HOME</a>
    <a class="nav-item nav-link" routerLink="/candidates">CANDIDATES</a>
    <a class="nav-item nav-link" routerLink="/skills">SKILLS</a>
    <a class="nav-item nav-link" routerLink="/trends" >TRENDS</a>
    <a class="nav-item nav-link"><span><button (click)="signOut()"> LOGOUT</button></span></a>
   </div>
  </div>
  </nav>
  <br>
