<app-nav></app-nav>
<div style="max-width: 500px; margin: auto;">
  <form [formGroup]="skillForm" (ngSubmit)="onSubmit()" class="form">
  
    <br>
    <label>
      Skill : *
      <input type="text" formControlName="name" class="form-control" required >
    </label>
    <button class="btn btn-primary" type="submit" [disabled]="!skillForm.valid" style="margin-left: 15px;">ADD</button>
  </form>

<div  *ngIf="skills" class="list-group">

  <li *ngFor="let skill of skills"  class="list-group-item">
    Skill: {{skill.name}}
  </li>
</div>

<div>
</div>
</div>